:root {
    --nav-text: #9E9E9E;
    --nav-selected-text: #090F31;
    --header-text: #4F4F4F;
    --blue-color: #3D5AFE;
    --button-dark-text: #3F3F3F;
    --button-light-text: #FFFFFF;
    --button-label-text: #000000;
    --button-light-label: #828282;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 500;
    height: 100vh;
}

#app {
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.navigations {
    grid-column: 1 / 1;
    width: 100%;
    background: #FAFBFD;
}

.buttons {
    grid-column: 2 / span 6;
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin: 50px 80px;
}

.buttons .header {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--header-text);
}

.disabledSection, .iconSection, .sizeSection, .colorSection {
    display: flex;
    gap: 100px;
}